
.page-title {

    margin-top: 3.5em;
    background-color: #333333;
    color: #FFFFFF;
    padding-left: 1em;

    &__text {
        font-size: 0.7rem;
        letter-spacing: 0.175rem;
        width: 17em;
        padding-top: 3em;
        font-weight: 700;
        margin-bottom: 3em;
    }

    &__title {
        margin-bottom: 1em;
    }

    &__breadcrumb-content {
        background-color: #FFFFFF;
        margin-left: 13em;
        width: min-content;

        &__text {
            color: #222222;
            padding: 1em;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1rem;

            & span {
                display: inline;
                margin-left: 1em;
            }

            &__page-name {
                color: #BEAD8E;
            }
        }

    }
}