
.footer {

    &__content {
        background-image: url('./../img/backgroundFooter.svg');
        padding-top: 2em;
        padding-left: 2em;
        width: 100%;

        & h3 {
            font-size: 1.5rem;
        }

        &__logo {
            display: flex;
            align-items: center;
            margin-bottom: 2em;

            &__icon {
                font-size: 2.5rem;
                font-weight: 700;
                line-height: 2.7rem;
                color: #FFFFFF;
                background-color: #BEAD8E;
                padding: 0.6em;
                margin-right: 1em;
            }

            &__title {
                font-size: 1.63rem;
                line-height: 1.75rem;
                letter-spacing: 0.15rem;
                width: 50%;
            }
        }

        &__introduction {
            width: 90%;
            color: #777777;
            margin-bottom: 2em;
        }

        &__social-media i {
            font-size: 2.5rem;
            color: #777777;
            margin-right: 0.2em;
            padding: 0.2em;
            background-color: #F8F8F8;
        }

        &__social-media {

            margin-bottom: 2em;

            & i:hover {
                background-color: #BEAD8E;
                color: #FFFFFF;
            }

        }

        &__services {

            margin-bottom: 1em;

            &__columns {
                display: flex;
                justify-content: space-between;
            }

            &__column {
                flex: 0 0 50%;
            }

            & ul {
                list-style-type: none;
            }

            & ul li {
                color: #777777;
                font-family: 'Roboto';
                font-size: 1rem;
                line-height: 3rem;
            }

            & ul li::before {
                content: '+';
                margin-right: 0.5em;
            }
        }

        &__contact-us {

            &__telephone, &__email, &__location {

                display: flex;

                & img {
                    margin-right: 2em;
                }

                &__info {

                    &__text {
                        font-family: 'Old Standard TT';
                        font-size: 1.25rem;
                        line-height: 1.5rem;
                        color: #222222;
                    }

                    &__number {
                        font-family: 'Roboto';
                        color: #777777;
                    }
                }
            }

            &__telephone, &__email {
                margin-bottom: 3em;
            }

            &__location {
                padding-bottom: 2em;
            }


        }
        
        
    }

    &__copyright {
        padding-left: 1em;
        padding-top: 1em;
        background-color: #F8F8F8;
        padding-bottom: 1em;
        & p {
            color: #222222;
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.13rem;
        }

        &__title {
            margin-bottom: 2em;
        }

        &__terms {
            
            & span {
                display: inline;
                margin-right: 1em;
                margin-left: 1em;
            }
        }
    }
    
}