
@mixin sliderType1 {

    .swiper.slider-type1 {
        width: 100%;
        height: 16em;

        &--height-auto {
            height: auto;
        }
    
        & .swiper-wrapper {
    
            & .swiper-slide {

                &__image {
                    height: auto;
                    width: 100%;
                }

                & .rooms-content__room {

                    &__image-navigation {
                        position: relative;
        
        
                        & .swiper-button-prev.swiper-button-prev--move-left {
        
                            left: var(--swiper-navigation-sides-offset,-8px);
                             
                        }
        
                        & .swiper-button-next.swiper-button-next--move-right {
        
                            right: var(--swiper-navigation-sides-offset,-8px);
                             
                        }
                    }
                }
                
            }
        }

        
    
        & .swiper-button-prev::after, & .swiper-button-next::after {
            content: '';
            display: none;
        }
    
        & .swiper-button-prev.swiper-button-disabled {
    
            opacity: 1 !important;
            background-color: #FFFFFF;
    
            & i {
                color: #000000;
            }
        }
    
        & .swiper-button-next.swiper-button-disabled {
    
            opacity: 1 !important;
            background-color: #FFFFFF;
    
            & i {
                color: #000000;
            }
        }
    
    }
    
    .swiper-button-next i, .swiper-button-prev i {
        color: #FFFFFF;
    }
    
    .swiper-button-next, .swiper-button-prev{
        background-color: #BDAC8D;
    }
}


@mixin sliderType2 {

    .swiper-wrapper.swiper-wrapper--size-change {
        
        margin: 0 auto;
        width: 75%;
        text-align: left;
        margin-bottom: 4em;
    }

    .swiper-wrapper {
        margin-bottom: 2em;
    }


    
    .swiper-slide {
    
        &__icons {
            width: 83%;
            display: flex;
            height: 9em;
            margin-bottom: 2em;
    
            &__icon {
                width: 23%;
                display: flex;
                height: inherit;
                align-items: flex-end;
    
                & img {
                    width: 70px;
                    height: 70px;
                }
            }
    
            &__number {
                width: 77%;
                display: flex;
                justify-content: flex-end;
                font-weight: 700;
                font-size: 7.5rem;
                line-height: 8.125rem;
                color: #222222;
                opacity: 0.04;
                
            }
        }
    
        &__title {
            margin-bottom: 1em;
        }
    
        &__text {
            width: 75%;
        }

        &__img {
            width: 100%;
            height: 250px;
            
        }
    }
    
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: #BEAD8E;
    }
    
    .swiper-pagination-bullet {
        background-color: #EDEDED;
    }

}



