
@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Old+Standard+TT');

html, * { 
    
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    font-family: 'Old Standard TT';
}

body { 
    min-width: 320px 
}
