@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Old+Standard+TT&family=Roboto");
.header {
  padding-bottom: 1em;
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px -3px #000000;
  width: 100%;
  height: 3.5em;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}
.header__content {
  height: inherit;
  width: 100%;
  display: flex;
  align-items: center;
}
.header__content__hamburger-icon {
  width: 15%;
  margin-left: 1em;
}
.header__content__logo {
  width: 70%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #111111;
}
.header__content__logo__icon {
  font-family: "Archivo";
  font-weight: 700;
  padding: 0.5em;
  margin-right: 1em;
  box-shadow: 0 14px 24px rgba(139, 139, 139, 0.2509803922);
}
.header__content__logo__title {
  font-family: "Archivo";
  font-size: 0.75rem;
  width: 40%;
}
.header__content__nav {
  display: none;
  position: fixed;
  top: 3.5em;
  background-color: #FFFFFF;
  width: 100%;
  padding-top: 2em;
  padding-left: 2em;
  padding-bottom: 1em;
  box-shadow: 0 3px 6px -3px #000000;
  z-index: 10;
}
.header__content__nav ul li {
  list-style: none;
  margin-bottom: 1em;
}
.header__content__nav ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #111111;
  font-size: 1rem;
  line-height: 1rem;
}
.header__content__icons {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}
.header__content__icons__account {
  display: flex;
}
.header__content__icons__search {
  display: flex;
}

.footer__content {
  background-image: url("./../img/backgroundFooter.svg");
  padding-top: 2em;
  padding-left: 2em;
  width: 100%;
}
.footer__content h3 {
  font-size: 1.5rem;
}
.footer__content__logo {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}
.footer__content__logo__icon {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.7rem;
  color: #FFFFFF;
  background-color: #BEAD8E;
  padding: 0.6em;
  margin-right: 1em;
}
.footer__content__logo__title {
  font-size: 1.63rem;
  line-height: 1.75rem;
  letter-spacing: 0.15rem;
  width: 50%;
}
.footer__content__introduction {
  width: 90%;
  margin-bottom: 2em;
}
.footer__content__social-media i {
  font-size: 2.5rem;
  color: #777777;
  margin-right: 0.2em;
  padding: 0.2em;
  background-color: #F8F8F8;
}
.footer__content__social-media {
  margin-bottom: 2em;
}
.footer__content__social-media i:hover {
  background-color: #BEAD8E;
  color: #FFFFFF;
}
.footer__content__services {
  margin-bottom: 1em;
}
.footer__content__services__columns {
  display: flex;
  justify-content: space-between;
}
.footer__content__services__column {
  flex: 0 0 50%;
}
.footer__content__services ul {
  list-style-type: none;
}
.footer__content__services ul li {
  color: #777777;
  font-family: "Roboto";
  font-size: 1rem;
  line-height: 3rem;
}
.footer__content__services ul li::before {
  content: "+";
  margin-right: 0.5em;
}
.footer__content__contact-us__telephone, .footer__content__contact-us__email, .footer__content__contact-us__location {
  display: flex;
}
.footer__content__contact-us__telephone img, .footer__content__contact-us__email img, .footer__content__contact-us__location img {
  margin-right: 2em;
}
.footer__content__contact-us__telephone__info__text, .footer__content__contact-us__email__info__text, .footer__content__contact-us__location__info__text {
  font-family: "Old Standard TT";
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #222222;
}
.footer__content__contact-us__telephone__info__number, .footer__content__contact-us__email__info__number, .footer__content__contact-us__location__info__number {
  font-family: "Roboto";
  color: #777777;
}
.footer__content__contact-us__telephone, .footer__content__contact-us__email {
  margin-bottom: 3em;
}
.footer__content__contact-us__location {
  padding-bottom: 2em;
}
.footer__copyright {
  padding-left: 1em;
  padding-top: 1em;
  background-color: #F8F8F8;
  padding-bottom: 1em;
}
.footer__copyright__title {
  font-family: "Roboto";
  margin-bottom: 2em;
}
.footer__copyright__terms {
  font-family: "Roboto";
}
.footer__copyright__terms span {
  display: inline;
  margin-right: 1em;
  margin-left: 1em;
}

.page-title {
  margin-top: 3.5em;
  background-color: #333333;
  color: #FFFFFF;
  padding-left: 1em;
}
.page-title__text {
  font-size: 0.7rem;
  letter-spacing: 0.175rem;
  width: 17em;
  padding-top: 3em;
  font-weight: 700;
  margin-bottom: 3em;
}
.page-title__title {
  margin-bottom: 1em;
}
.page-title__breadcrumb-content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.page-title__breadcrumb-content__text {
  background-color: #FFFFFF;
  color: #222222;
  padding: 1em;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1rem;
}
.page-title__breadcrumb-content__text span {
  display: inline;
  margin-left: 1em;
}
.page-title__breadcrumb-content__text__page-name {
  color: #BEAD8E;
}

.button {
  background-color: #BDAC8D;
  color: #FFFFFF;
  border: none;
  height: 3em;
  font-weight: 700;
  font-family: "Archivo";
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.175rem;
  padding: 2em;
  padding-left: 3em;
  padding-right: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button--dark {
  color: #FFFFFF;
  background-color: #333333;
  border: 2px solid rgba(255, 255, 255, 0.3);
}
.button--bigger {
  padding-bottom: 3em;
}

.title-page {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 4rem;
  line-height: 3.75rem;
  letter-spacing: -0.075rem;
  color: #FFFFFF;
}

.title-section {
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1.13rem;
  letter-spacing: 0.18rem;
  color: #777777;
}
.title-section--yellow {
  color: #BDAC8D;
}
.title-section--white {
  color: #FFFFFF;
}

.subtitle-section {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 3.75rem;
  line-height: 3.75rem;
  letter-spacing: -0.075rem;
  color: #111111;
}
.subtitle-section--white {
  color: #FFFFFF;
}
.subtitle-section--black {
  color: #222222;
}
.subtitle-section--medium {
  font-size: 2.8rem;
  line-height: 3.125rem;
}
.subtitle-section--small {
  font-size: 2rem;
  line-height: 2.5rem;
}

.title-content {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.875rem;
  letter-spacing: -0.056rem;
  color: #111111;
}
.title-content--white {
  color: #FFFFFF;
}
.title-content--big {
  font-size: 3.75rem;
  line-height: 3.75rem;
}
.title-content--small {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #222222;
}
.title-content--x-small {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2rem;
  color: #222222;
}

.paragraph {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
}
.paragraph--title-banner {
  font-weight: 700;
  color: #FFFFFF;
  font-size: 0.7rem;
  letter-spacing: 0.175rem;
}
.paragraph--price {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.625rem;
  color: #BEAD8E;
}
.paragraph--price--offer {
  color: #DE5777;
}
.paragraph--price--medium {
  font-size: 1.438rem;
  line-height: 1.563rem;
}
.paragraph--price--small {
  font-size: 1rem;
  line-height: 1rem;
}
.paragraph--about-counter {
  font-family: "Roboto";
  font-size: 1rem;
  line-height: 1rem;
}
.paragraph--second-typography {
  font-family: "Roboto";
}
.paragraph--gray {
  color: #777777;
}
.paragraph--gray2 {
  color: #C2C2C2;
}
.paragraph--gray3 {
  color: #999999;
}
.paragraph--black {
  color: #111111;
}
.paragraph--black2 {
  color: #222222;
}
.paragraph--white {
  color: #FFFFFF;
}
.paragraph--bold {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.13rem;
}
.paragraph--bigger {
  font-weight: 500;
  font-size: 1em;
  line-height: 1em;
}

.input {
  width: 100%;
  background-color: #F8F8F8;
  border: none;
  height: 5em;
  color: #777777;
}

.home-content__banner-home {
  width: 100%;
  background-color: #333333;
  margin-top: 3.5em;
  padding-top: 2em;
}
.home-content__banner-home__content {
  padding-left: 1em;
  color: #FFFFFF;
}
.home-content__banner-home__content__text {
  width: 17em;
  padding-top: 3em;
  margin-bottom: 3em;
}
.home-content__banner-home__content__title {
  margin-bottom: 0.5em;
}
.home-content__banner-home__content__buttons {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-bottom: 4em;
}
.home-content__banner-home__content__buttons__tour {
  margin-bottom: 1em;
}
.home-content__banner-home__content__buttons__learn {
  border: 2px solid rgba(255, 255, 255, 0.3);
  height: 3em;
  color: #FFFFFF;
  background-color: #333333;
}

.home-content__booking-calendar {
  background-color: #222222;
  margin-bottom: 2em;
}
.home-content__booking-calendar__form {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  padding-left: 1em;
  padding-bottom: 2em;
}
.home-content__booking-calendar__form label {
  font-family: "Roboto";
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 1em;
}
.home-content__booking-calendar__form input[type=date] {
  width: 80%;
  appearance: none;
  border: none;
  border-bottom: 1px solid #BEAD8E;
  background-color: #222222;
  margin-bottom: 2em;
  color: #686868;
  font-family: "Roboto";
  padding-left: 2em;
  padding-bottom: 0.5em;
}
.home-content__booking-calendar__form input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 1em;
  background-image: url("./../img/calendarIcon.svg");
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
}
.home-content__booking-calendar__form input[type=date]:focus {
  appearance: none;
  outline: none;
}
.home-content__booking-calendar__form input[type=submit] {
  width: 70%;
}

.home-content__about-us__info {
  background-color: #F9F9F9;
  padding-left: 1em;
  padding-bottom: 10em;
}
.home-content__about-us__info__title {
  padding-top: 2em;
  margin-bottom: 2em;
}
.home-content__about-us__info__subtitle {
  text-align: center;
  margin-bottom: 0.5em;
}
.home-content__about-us__info__text {
  color: #777777;
  margin-bottom: 2em;
}
.home-content__about-us__extra-info {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 4em;
}
.home-content__about-us__extra-info__team {
  margin-bottom: 5em;
  padding-bottom: 3em;
  box-shadow: 0 8px 16px -10px rgba(34, 34, 34, 0.2);
}
.home-content__about-us__extra-info__team__image {
  width: 100%;
  height: 18em;
  position: relative;
  bottom: 6em;
}
.home-content__about-us__extra-info__team__icons {
  margin: 0 auto;
  margin-top: -3em;
  margin-bottom: 2em;
  position: relative;
  width: fit-content;
}
.home-content__about-us__extra-info__team__icons__icon2 {
  position: absolute;
  left: 2em;
  z-index: -1;
}
.home-content__about-us__extra-info__team__title {
  margin-bottom: 1em;
}
.home-content__about-us__extra-info__team__text {
  width: 75%;
  margin: 0 auto;
}
.home-content__about-us__extra-info__luxury {
  padding-bottom: 4em;
  background-color: #222222;
}
.home-content__about-us__extra-info__luxury__image {
  width: 100%;
  height: 18em;
  margin-bottom: 3em;
}
.home-content__about-us__extra-info__luxury__icon {
  margin-bottom: 2em;
}
.home-content__about-us__extra-info__luxury__title {
  margin-bottom: 1em;
}
.home-content__about-us__extra-info__luxury__text {
  width: 75%;
  margin: 0 auto;
}

.home-content__facilities {
  text-align: center;
}
.home-content__facilities__title {
  margin-bottom: 2em;
}
.home-content__facilities__subtitle {
  margin-bottom: 0.5em;
}

.swiper-wrapper.swiper-wrapper--size-change {
  margin: 0 auto;
  width: 75%;
  text-align: left;
  margin-bottom: 4em;
}

.swiper-wrapper {
  margin-bottom: 2em;
}

.swiper-slide__icons {
  width: 83%;
  display: flex;
  height: 9em;
  margin-bottom: 2em;
}
.swiper-slide__icons__icon {
  width: 23%;
  display: flex;
  height: inherit;
  align-items: flex-end;
}
.swiper-slide__icons__icon img {
  width: 70px;
  height: 70px;
}
.swiper-slide__icons__number {
  width: 77%;
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 7.5rem;
  line-height: 8.125rem;
  color: #222222;
  opacity: 0.04;
}
.swiper-slide__title {
  margin-bottom: 1em;
}
.swiper-slide__text {
  width: 75%;
}
.swiper-slide__img {
  width: 100%;
  height: 250px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #BEAD8E;
}

.swiper-pagination-bullet {
  background-color: #EDEDED;
}

.home-content__rooms {
  text-align: center;
}
.home-content__rooms__title {
  margin-bottom: 2em;
}
.home-content__rooms__subtitle {
  margin-bottom: 1em;
}
.home-content__rooms__icons {
  background-color: #FFFFFF;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  padding-left: 2em;
  position: relative;
  top: 2em;
  z-index: 2;
}
.home-content__rooms__icons i {
  margin-right: 1.2em;
}
.home-content__rooms__room-info {
  margin: 0 auto;
  text-align: center;
  background-color: #FFFFFF;
  width: 80%;
  padding-top: 1.5em;
  position: relative;
  bottom: 2em;
  z-index: 2;
}
.home-content__rooms__room-info__title {
  margin-bottom: 0.5em;
}
.home-content__rooms__room-info p {
  width: 80%;
  margin: auto;
  margin-bottom: 1em;
}
.home-content__rooms__room-info__price span {
  font-size: 0.813rem;
}

.swiper.slider-type1 {
  width: 100%;
  height: 16em;
}
.swiper.slider-type1--height-auto {
  height: auto;
}
.swiper.slider-type1 .swiper-wrapper .swiper-slide__image {
  height: auto;
  width: 100%;
}
.swiper.slider-type1 .swiper-button-prev::after, .swiper.slider-type1 .swiper-button-next::after {
  content: "";
  display: none;
}
.swiper.slider-type1 .swiper-button-prev.swiper-button-disabled {
  opacity: 1 !important;
  background-color: #FFFFFF;
}
.swiper.slider-type1 .swiper-button-prev.swiper-button-disabled i {
  color: #000000;
}
.swiper.slider-type1 .swiper-button-next.swiper-button-disabled {
  opacity: 1 !important;
  background-color: #FFFFFF;
}
.swiper.slider-type1 .swiper-button-next.swiper-button-disabled i {
  color: #000000;
}

.swiper-button-next i, .swiper-button-prev i {
  color: #FFFFFF;
}

.swiper-button-next, .swiper-button-prev {
  background-color: #BDAC8D;
}

.home-content__video {
  background-color: #222222;
  padding-top: 2em;
  padding-left: 1em;
  padding-bottom: 1em;
  margin-bottom: 3em;
}
.home-content__video__title {
  margin-bottom: 2em;
}
.home-content__video__subtitle {
  width: 80%;
  margin-bottom: 0.5em;
}
.home-content__video__text {
  margin-bottom: 2em;
  width: 95%;
}
.home-content__video iframe {
  margin-bottom: 2em;
}
.home-content__video__button {
  margin-bottom: 3em;
}

.home-content__data {
  width: 100%;
  background-color: #222222;
  margin: 0 auto;
  text-align: center;
  padding-top: 3em;
  margin-bottom: 2em;
}
.home-content__data__projects img, .home-content__data__backers img, .home-content__data__categories img, .home-content__data__ideas img {
  margin-bottom: 3em;
}
.home-content__data__projects__number, .home-content__data__backers__number, .home-content__data__categories__number, .home-content__data__ideas__number {
  font-family: "Roboto";
  color: #FFFFFF;
  font-size: 3.75rem;
  line-height: 1.56rem;
  font-weight: 400;
}
.home-content__data__projects__number span, .home-content__data__backers__number span, .home-content__data__categories__number span, .home-content__data__ideas__number span {
  font-size: 1.125rem;
}
.home-content__data__projects__text, .home-content__data__backers__text, .home-content__data__categories__text, .home-content__data__ideas__text {
  padding-bottom: 3em;
}

.about-content__video-content {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding-top: 3em;
  margin-bottom: 2em;
}
.about-content__video-content__video {
  width: 100%;
  height: 15em;
  margin-bottom: 2em;
}

.about-content__icons-content {
  display: grid;
  width: 90%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-bottom: 4em;
}
.about-content__icons-content__icon-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  height: 10em;
}
.about-content__icons-content__icon-block__icon {
  margin: 0 auto;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  margin-bottom: 0.5em;
}
.about-content__icons-content__icon-block__icon--breakfast {
  background-image: url("./../../img/breakfastIcon.png");
}
.about-content__icons-content__icon-block__icon--airport {
  background-image: url("./../../img/airportIcon-yellow.png");
}
.about-content__icons-content__icon-block__icon--city {
  background-image: url("./../../img/cityIcon.svg");
}
.about-content__icons-content__icon-block__icon--room {
  background-image: url("./../../img/roomIcon.svg");
}
.about-content__icons-content__icon-block__text {
  color: #222222;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.875rem;
  letter-spacing: 0.15rem;
}
.about-content__icons-content__icon-block:hover {
  background-color: #BEAD8E;
}
.about-content__icons-content__icon-block:hover .about-content__icons-content__icon-block__icon--breakfast {
  background-image: url("./../../img/breakfastIcon-white.png");
}
.about-content__icons-content__icon-block:hover .about-content__icons-content__icon-block__icon--airport {
  background-image: url("./../../img/airportIcon.svg");
}
.about-content__icons-content__icon-block:hover .about-content__icons-content__icon-block__icon--city {
  background-image: url("./../../img/cityIcon-white.svg");
}
.about-content__icons-content__icon-block:hover .about-content__icons-content__icon-block__icon--room {
  background-image: url("./../../img/roomIcon-white.svg");
}
.about-content__icons-content__icon-block:hover .about-content__icons-content__icon-block__text {
  color: #FFFFFF;
}

.about-content__restaurant {
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 14px 24px rgba(184, 184, 184, 0.1);
  margin-bottom: 3em;
  padding: 1em;
}
.about-content__restaurant__img {
  width: 100%;
  height: 250px;
  margin-bottom: 2em;
}
.about-content__restaurant__title {
  margin-bottom: 2em;
}
.about-content__restaurant__subtitle {
  margin-bottom: 0.7em;
}
.about-content__restaurant__text {
  width: 85%;
  margin-bottom: 1em;
}

.about-content__facilities {
  text-align: center;
  background-color: #222222;
  padding-top: 2em;
  margin-bottom: 3em;
}
.about-content__facilities__title {
  margin-bottom: 2em;
}
.about-content__facilities__subtitle {
  margin-bottom: 0.5em;
}

.slider-type2 {
  width: 90%;
}
.slider-type2--black {
  background-color: #292929;
}

.swiper-slide__icons__number--opacity {
  opacity: 1;
}

.about-content__counters {
  width: 90%;
  margin: 0 auto;
}
.about-content__counters__title {
  margin-bottom: 2em;
}
.about-content__counters__subtitle {
  margin-bottom: 1em;
}
.about-content__counters__content {
  padding-left: 1em;
}
.about-content__counters__content__counter {
  margin-bottom: 3em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 6em;
}
.about-content__counters__content__counter__info {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  width: 60%;
}
.about-content__counters__content__counter i {
  display: flex;
  align-items: center;
  height: inherit;
  font-size: 2rem;
  color: #DCDCDC;
}

.about-content {
  width: 100%;
  margin: 0 auto;
}

.rooms-content__room {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3em;
}
.rooms-content__room__image {
  width: 100%;
  height: auto;
}
.rooms-content__room__icons {
  background-color: #FFFFFF;
  box-shadow: 0 8px 16px rgba(138, 138, 138, 0.05);
  width: 19.5em;
  margin: 0 auto;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  padding-left: 2em;
  position: relative;
  bottom: 2.2em;
  z-index: 2;
}
.rooms-content__room__icons i {
  margin-right: 1.2em;
}
.rooms-content__room__title {
  margin-bottom: 0.5em;
}
.rooms-content__room__text {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1em;
}
.rooms-content__room__price {
  display: inline-block;
  margin-right: 2em;
}
.rooms-content__room__book {
  display: inline-block;
  text-decoration: none;
  color: #BDBDBD;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
}
.rooms-content__room__book:hover {
  color: #222222;
}

.rooms-content {
  padding-top: 2em;
}

.offers-content__popular {
  background-color: #222222;
  padding-top: 3em;
  margin-bottom: 4em;
  text-align: center;
}
.offers-content__popular__title {
  margin-bottom: 2em;
}
.offers-content__popular__subtitle {
  margin-bottom: 1em;
}

.rooms-content__room {
  background-color: #FFFFFF;
  padding-bottom: 2em;
}
.rooms-content__room__image-pagination {
  position: relative;
}

.swiper-button-prev.swiper-button-prev--move-left {
  left: var(--swiper-navigation-sides-offset, -8px);
}

.swiper-button-next.swiper-button-next--move-right {
  right: var(--swiper-navigation-sides-offset, -8px);
}

.offers-content__rooms {
  width: 90%;
  margin: 0 auto;
}
.offers-content__rooms__room {
  padding-bottom: 2em;
  margin-bottom: 2em;
  box-shadow: 0px 14px 24px 0 rgba(184, 184, 184, 0.1);
}
.offers-content__rooms__room__image-offer {
  position: relative;
}
.offers-content__rooms__room__image-offer__image {
  width: 100%;
  height: 160px;
  filter: brightness(0.5);
}
.offers-content__rooms__room__image-offer__prices {
  text-align: end;
  position: absolute;
  bottom: 1em;
  right: 0.5em;
}
.offers-content__rooms__room__image-offer__prices__price {
  margin-bottom: 0.5em;
  text-decoration: line-through;
}
.offers-content__rooms__room__content {
  padding-left: 1em;
  padding-top: 1em;
}
.offers-content__rooms__room__content__title {
  margin-bottom: 1em;
}
.offers-content__rooms__room__content__subtitle {
  margin-bottom: 0.5em;
}
.offers-content__rooms__room__content__text {
  margin-bottom: 2em;
}
.offers-content__rooms__room__content__list-icons {
  list-style: none;
  columns: 2;
  margin-bottom: 1em;
}
.offers-content__rooms__room__content__list-icons__icon {
  margin-bottom: 0.5em;
  display: flex;
}
.offers-content__rooms__room__content__list-icons__icon__image {
  margin-right: 0.7em;
}

.offers-content {
  padding-top: 3em;
}

.contact-content__info {
  padding-left: 1em;
}
.contact-content__info__address, .contact-content__info__phone, .contact-content__info__email {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10em;
  position: relative;
}
.contact-content__info__address__icon, .contact-content__info__phone__icon, .contact-content__info__email__icon {
  margin-right: 2em;
}
.contact-content__info__address__info__title, .contact-content__info__phone__info__title, .contact-content__info__email__info__title {
  margin-bottom: 1em;
}
.contact-content__info__address__number, .contact-content__info__phone__number, .contact-content__info__email__number {
  position: absolute;
  top: -3em;
  right: 2em;
  z-index: -1;
}
.contact-content__info__address__number p, .contact-content__info__phone__number p, .contact-content__info__email__number p {
  font-size: 12.5rem;
  font-weight: 700;
  line-height: 14.625rem;
  letter-spacing: -0.375rem;
  font-family: "Roboto";
  color: #F8F8F8;
}
.contact-content__info__address__info__text {
  width: 75%;
}
.contact-content__info__address__number {
  right: 1em;
}
.contact-content__info__email {
  margin-bottom: 8em;
}

.contact-content__map {
  margin-bottom: 2em;
}
.contact-content__map__image {
  width: 100%;
  height: auto;
}

.contact-content__form__input-group {
  position: relative;
}
.contact-content__form__input-group__input {
  margin-bottom: 1.5em;
  padding-left: 4em;
}
.contact-content__form__input-group__icon {
  position: absolute;
  top: 1.5em;
  left: 1em;
}
.contact-content__form__input-group__icon path {
  fill: #BEAD8E;
}
.contact-content__form__input-group textarea {
  height: auto;
  padding-top: 1.8em;
}
.contact-content__form ::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
}
.contact-content__form__button {
  width: 20em;
  margin: 0 auto;
}

.contact-content {
  width: 90%;
  margin: 0 auto;
  padding-top: 4em;
  margin-bottom: 4em;
}

.room-details-content__hotel-image {
  margin-bottom: 2em;
}
.room-details-content__hotel-image__title {
  margin-bottom: 1em;
}
.room-details-content__hotel-image__subtitle {
  margin-bottom: 0.5em;
}
.room-details-content__hotel-image__price {
  margin-bottom: 1em;
}
.room-details-content__hotel-image__price span {
  font-size: 0.813rem;
}
.room-details-content__hotel-image__image {
  width: 100%;
  height: auto;
}

.room-details-content__availability {
  padding-left: 1em;
  padding-right: 1em;
  margin: 0 auto;
}
.room-details-content__availability__title {
  text-align: center;
  margin-bottom: 2em;
}
.room-details-content__availability__form__label {
  font-size: 0.875rem;
  line-height: 2rem;
  font-weight: 700;
  color: #222222;
}
.room-details-content__availability__form__input {
  margin-bottom: 1em;
  padding-left: 2em;
  height: 4em;
}
.room-details-content__availability__form__input[type=date]::-webkit-calendar-picker-indicator {
  padding-right: 2em;
  width: 1.5em;
  height: 1.5em;
  filter: invert(60%);
}
.room-details-content__availability__form textarea {
  height: auto;
}
.room-details-content__availability__form__button {
  width: 100%;
  font-weight: 400;
}

.room-details-content {
  width: 90%;
  margin: 0 auto;
  padding-top: 2em;
}

/*@mixin paragraph2 {
    font-family: $font_tertiary;
}*/
html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Archivo";
}

body {
  min-width: 320px;
}

/*# sourceMappingURL=styles.css.map */
