@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Old+Standard+TT&family=Roboto");
.header {
  padding-bottom: 1em;
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px -3px #000000;
  width: 100%;
  height: 3.5em;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}
.header__content {
  height: inherit;
  width: 100%;
  display: flex;
  align-items: center;
}
.header__content__hamburger-icon {
  width: 15%;
  margin-left: 1em;
}
.header__content__logo {
  width: 70%;
  display: flex;
  align-items: center;
}
.header__content__logo__icon {
  font-family: "Archivo";
  font-weight: 700;
  padding: 0.5em;
  margin-right: 1em;
  box-shadow: 0 14px 24px rgba(139, 139, 139, 0.2509803922);
}
.header__content__logo__title {
  font-family: "Archivo";
  font-size: 0.75rem;
  width: 40%;
}
.header__content__nav {
  display: none;
  position: fixed;
  top: 3.5em;
  background-color: #FFFFFF;
  width: 100%;
  padding-top: 2em;
  padding-left: 2em;
  padding-bottom: 1em;
  box-shadow: 0 3px 6px -3px #000000;
  z-index: 10;
}
.header__content__nav ul li {
  list-style: none;
  margin-bottom: 1em;
}
.header__content__nav ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #111111;
  font-size: 1rem;
  line-height: 1rem;
}
.header__content__icons {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}
.header__content__icons__account {
  display: flex;
}
.header__content__icons__search {
  display: flex;
}

.footer__content {
  background-image: url("./../img/backgroundFooter.svg");
  padding-top: 2em;
  padding-left: 2em;
  width: 100%;
}
.footer__content h3 {
  font-size: 1.5rem;
}
.footer__content__logo {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}
.footer__content__logo__icon {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.7rem;
  color: #FFFFFF;
  background-color: #BEAD8E;
  padding: 0.6em;
  margin-right: 1em;
}
.footer__content__logo__title {
  font-size: 1.63rem;
  line-height: 1.75rem;
  letter-spacing: 0.15rem;
  width: 50%;
}
.footer__content__introduction {
  width: 90%;
  color: #777777;
  margin-bottom: 2em;
}
.footer__content__social-media i {
  font-size: 2.5rem;
  color: #777777;
  margin-right: 0.2em;
  padding: 0.2em;
  background-color: #F8F8F8;
}
.footer__content__social-media {
  margin-bottom: 2em;
}
.footer__content__social-media i:hover {
  background-color: #BEAD8E;
  color: #FFFFFF;
}
.footer__content__services {
  margin-bottom: 1em;
}
.footer__content__services__columns {
  display: flex;
  justify-content: space-between;
}
.footer__content__services__column {
  flex: 0 0 50%;
}
.footer__content__services ul {
  list-style-type: none;
}
.footer__content__services ul li {
  color: #777777;
  font-family: "Roboto";
  font-size: 1rem;
  line-height: 3rem;
}
.footer__content__services ul li::before {
  content: "+";
  margin-right: 0.5em;
}
.footer__content__contact-us__telephone, .footer__content__contact-us__email, .footer__content__contact-us__location {
  display: flex;
}
.footer__content__contact-us__telephone img, .footer__content__contact-us__email img, .footer__content__contact-us__location img {
  margin-right: 2em;
}
.footer__content__contact-us__telephone__info__text, .footer__content__contact-us__email__info__text, .footer__content__contact-us__location__info__text {
  font-family: "Old Standard TT";
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #222222;
}
.footer__content__contact-us__telephone__info__number, .footer__content__contact-us__email__info__number, .footer__content__contact-us__location__info__number {
  font-family: "Roboto";
  color: #777777;
}
.footer__content__contact-us__telephone, .footer__content__contact-us__email {
  margin-bottom: 3em;
}
.footer__content__contact-us__location {
  padding-bottom: 2em;
}
.footer__copyright {
  padding-left: 1em;
  padding-top: 1em;
  background-color: #F8F8F8;
  padding-bottom: 1em;
}
.footer__copyright p {
  color: #222222;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.13rem;
}
.footer__copyright__title {
  margin-bottom: 2em;
}
.footer__copyright__terms span {
  display: inline;
  margin-right: 1em;
  margin-left: 1em;
}

.home-content__banner-home {
  width: 100%;
  background-color: #333333;
  margin-top: 3.5em;
  padding-top: 2em;
}
.home-content__banner-home__content {
  padding-left: 1em;
  color: #FFFFFF;
}
.home-content__banner-home__content__text {
  font-size: 0.7rem;
  letter-spacing: 0.175rem;
  width: 17em;
  padding-top: 3em;
  font-weight: 700;
  margin-bottom: 3em;
}
.home-content__banner-home__content__title {
  margin-bottom: 0.5em;
}
.home-content__banner-home__content__buttons {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-bottom: 4em;
}
.home-content__banner-home__content__buttons__tour {
  color: #FFFFFF;
  background-color: #BEAD8E;
  margin-bottom: 1em;
  border: none;
  height: 3em;
}
.home-content__banner-home__content__buttons__learn {
  border: 2px solid rgba(255, 255, 255, 0.3);
  height: 3em;
  color: #FFFFFF;
  background-color: #333333;
}

.home-content__booking-calendar {
  background-color: #222222;
  margin-bottom: 2em;
}
.home-content__booking-calendar__form {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  padding-left: 1em;
  padding-bottom: 2em;
}
.home-content__booking-calendar__form label {
  font-family: "Roboto";
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 1em;
}
.home-content__booking-calendar__form input[type=date] {
  width: 80%;
  appearance: none;
  border: none;
  border-bottom: 1px solid #BEAD8E;
  background-color: #222222;
  margin-bottom: 2em;
  color: #686868;
  font-family: "Roboto";
  padding-left: 2em;
  padding-bottom: 0.5em;
}
.home-content__booking-calendar__form input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 1em;
  background-image: url("./../img/calendarIcon.svg");
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
}
.home-content__booking-calendar__form input[type=date]:focus {
  appearance: none;
  outline: none;
}
.home-content__booking-calendar__form input[type=submit] {
  background-color: #BEAD8E;
  width: 60%;
  color: #FFFFFF;
  border: none;
  height: 3em;
}

.home-content__about-us__info {
  background-color: #F9F9F9;
  padding-left: 1em;
  padding-bottom: 10em;
}
.home-content__about-us__info__title {
  padding-top: 2em;
  margin-bottom: 2em;
}
.home-content__about-us__info__subtitle {
  text-align: center;
  margin-bottom: 0.5em;
}
.home-content__about-us__info__text {
  color: #777777;
  margin-bottom: 2em;
}
.home-content__about-us__extra-info {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 4em;
}
.home-content__about-us__extra-info__team {
  margin-bottom: 5em;
  padding-bottom: 3em;
  box-shadow: 0 8px 16px -10px rgba(34, 34, 34, 0.2);
}
.home-content__about-us__extra-info__team__image {
  background-image: url("./../../img/home1.jpg");
  background-size: 100% 18em;
  height: 18em;
  position: relative;
  bottom: 6em;
}
.home-content__about-us__extra-info__team__icons {
  margin-top: -3em;
  margin-bottom: 2em;
  position: relative;
  width: fit-content;
  left: 50%;
}
.home-content__about-us__extra-info__team__icons__icon2 {
  position: absolute;
  left: 2em;
  z-index: -1;
}
.home-content__about-us__extra-info__team__title {
  margin-bottom: 1em;
}
.home-content__about-us__extra-info__team p {
  color: #111111;
  width: 75%;
  margin: 0 auto;
}
.home-content__about-us__extra-info__luxury__image {
  background-image: url("./../../img/home2.jpg");
  background-size: 100% 18em;
  height: 18em;
}
.home-content__about-us__extra-info__luxury__room {
  padding-top: 3em;
  padding-bottom: 4em;
  background-color: #222222;
}
.home-content__about-us__extra-info__luxury__room img {
  margin-bottom: 2em;
}
.home-content__about-us__extra-info__luxury__room__title {
  margin-bottom: 1em;
}
.home-content__about-us__extra-info__luxury__room p {
  color: #FFFFFF;
  width: 75%;
  margin: 0 auto;
}

.home-content__facilities {
  text-align: center;
}
.home-content__facilities__title {
  margin-bottom: 2em;
}
.home-content__facilities__subtitle {
  margin-bottom: 0.5em;
}

.swiper-wrapper.swiper-wrapper--size-change {
  margin: 0 auto;
  width: 75%;
  text-align: left;
  margin-bottom: 4em;
}

.swiper-slide__icons {
  width: 75%;
  display: flex;
  height: 9em;
  margin-bottom: 2em;
}
.swiper-slide__icons__icon {
  width: 23%;
  display: flex;
  height: inherit;
  align-items: flex-end;
}
.swiper-slide__icons__icon img {
  width: 70px;
  height: 70px;
}
.swiper-slide__icons span {
  width: 77%;
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 7.5rem;
  line-height: 8.125rem;
  color: #222222;
  opacity: 0.04;
}
.swiper-slide__title {
  margin-bottom: 1em;
}
.swiper-slide p {
  width: 75%;
  color: #777777;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #BEAD8E;
}

.swiper-pagination-bullet {
  background-color: #EDEDED;
}

.home-content__rooms {
  text-align: center;
}
.home-content__rooms__title {
  margin-bottom: 2em;
}
.home-content__rooms__subtitle {
  margin-bottom: 1em;
}
.home-content__rooms__icons {
  background-color: #FFFFFF;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  padding-left: 2em;
  position: relative;
  top: 2em;
  z-index: 2;
}
.home-content__rooms__icons i {
  margin-right: 1.2em;
}
.home-content__rooms__room-info {
  margin: 0 auto;
  text-align: center;
  background-color: #FFFFFF;
  width: 80%;
  padding-top: 1.5em;
  position: relative;
  bottom: 2em;
  z-index: 2;
}
.home-content__rooms__room-info__title {
  margin-bottom: 0.5em;
}
.home-content__rooms__room-info p {
  width: 80%;
  margin: auto;
  margin-bottom: 1em;
}
.home-content__rooms__room-info__price {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.625rem;
  color: #BEAD8E;
}
.home-content__rooms__room-info__price span {
  font-size: 0.813rem;
}

.swiper.slider-type1 {
  width: 100%;
  height: 16em;
}
.swiper.slider-type1 .swiper-wrapper .swiper-slide img {
  height: inherit;
  width: 100%;
}
.swiper.slider-type1 .swiper-button-prev::after, .swiper.slider-type1 .swiper-button-next::after {
  content: "";
  display: none;
}
.swiper.slider-type1 .swiper-button-prev.swiper-button-disabled {
  opacity: 1 !important;
  background-color: #FFFFFF;
}
.swiper.slider-type1 .swiper-button-prev.swiper-button-disabled i {
  color: #000000;
}
.swiper.slider-type1 .swiper-button-next.swiper-button-disabled {
  opacity: 1 !important;
  background-color: #FFFFFF;
}
.swiper.slider-type1 .swiper-button-next.swiper-button-disabled i {
  color: #000000;
}

.swiper-button-next i, .swiper-button-prev i {
  color: #FFFFFF;
}

.swiper-button-next, .swiper-button-prev {
  background-color: #BDAC8D;
}

.home-content__video {
  background-color: #222222;
  padding-top: 2em;
  padding-left: 1em;
  margin-bottom: 3em;
}
.home-content__video__title {
  margin-bottom: 2em;
}
.home-content__video__subtitle {
  width: 80%;
  color: #FFFFFF;
  margin-bottom: 0.5em;
}
.home-content__video p {
  margin-bottom: 2em;
  width: 95%;
  color: #C2C2C2;
}
.home-content__video iframe {
  margin-bottom: 2em;
}
.home-content__video button {
  width: 40%;
  margin-bottom: 3em;
}

.home-content__data {
  width: 100%;
  background-color: #222222;
  margin: 0 auto;
  text-align: center;
  padding-top: 3em;
  margin-bottom: 2em;
}
.home-content__data__projects img, .home-content__data__backers img, .home-content__data__categories img, .home-content__data__ideas img {
  margin-bottom: 3em;
}
.home-content__data__projects__number, .home-content__data__backers__number, .home-content__data__categories__number, .home-content__data__ideas__number {
  font-family: "Roboto";
  color: #FFFFFF;
  font-size: 3.75rem;
  line-height: 1.56rem;
}
.home-content__data__projects__number span, .home-content__data__backers__number span, .home-content__data__categories__number span, .home-content__data__ideas__number span {
  font-size: 1.125rem;
}
.home-content__data__projects p, .home-content__data__backers p, .home-content__data__categories p, .home-content__data__ideas p {
  color: #999999;
  padding-bottom: 3em;
}

.about-content__video-content {
  text-align: center;
  padding-top: 3em;
  margin-bottom: 2em;
}
.about-content__video-content__video {
  width: 100%;
  height: 15em;
  margin-bottom: 2em;
}

.about-content__icons-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-bottom: 4em;
}
.about-content__icons-content__icon-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  height: 10em;
}
.about-content__icons-content__icon-block__icon {
  margin: 0 auto;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  margin-bottom: 0.5em;
}
.about-content__icons-content__icon-block__icon--breakfast {
  background-image: url("./../../img/breakfastIcon.png");
}
.about-content__icons-content__icon-block__icon--airport {
  background-image: url("./../../img/airportIcon-yellow.png");
}
.about-content__icons-content__icon-block__icon--city {
  background-image: url("./../../img/cityIcon.svg");
}
.about-content__icons-content__icon-block__icon--room {
  background-image: url("./../../img/roomIcon.svg");
}
.about-content__icons-content__icon-block__text {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.875rem;
  letter-spacing: 0.15rem;
}
.about-content__icons-content__icon-block:hover {
  background-color: #BEAD8E;
}
.about-content__icons-content__icon-block:hover .about-content__icons-content__icon-block__icon--breakfast {
  background-image: url("./../../img/breakfastIcon-white.png");
}
.about-content__icons-content__icon-block:hover .about-content__icons-content__icon-block__icon--airport {
  background-image: url("./../../img/airportIcon.svg");
}
.about-content__icons-content__icon-block:hover .about-content__icons-content__icon-block__icon--city {
  background-image: url("./../../img/cityIcon-white.svg");
}
.about-content__icons-content__icon-block:hover .about-content__icons-content__icon-block__icon--room {
  background-image: url("./../../img/roomIcon-white.svg");
}
.about-content__icons-content__icon-block:hover .about-content__icons-content__icon-block__text {
  color: #FFFFFF;
}

.about-content__restaurant {
  box-shadow: 0 14px 24px rgba(184, 184, 184, 0.1);
  padding: 1em;
  margin-bottom: 1em;
}
.about-content__restaurant__img {
  width: 100%;
  height: 250px;
  margin-bottom: 2em;
}
.about-content__restaurant__title {
  margin-bottom: 2em;
}
.about-content__restaurant__subtitle {
  font-size: 3rem;
  line-height: 3.125rem;
  margin-bottom: 0.7em;
}
.about-content__restaurant__text {
  width: 85%;
  color: #777777;
  margin-bottom: 1em;
}

.about-content {
  width: 90%;
  margin: 0 auto;
}

.page-title {
  margin-top: 3.5em;
  background-color: #333333;
  color: #FFFFFF;
  padding-left: 1em;
}
.page-title__text {
  font-size: 0.7rem;
  letter-spacing: 0.175rem;
  width: 17em;
  padding-top: 3em;
  font-weight: 700;
  margin-bottom: 3em;
}
.page-title__title {
  margin-bottom: 1em;
}
.page-title__breadcrumb-content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.page-title__breadcrumb-content__text {
  background-color: #FFFFFF;
  color: #222222;
  padding: 1em;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1rem;
}
.page-title__breadcrumb-content__text span {
  display: inline;
  margin-left: 1em;
}
.page-title__breadcrumb-content__text__page-name {
  color: #BEAD8E;
}

.button {
  background-color: #BDAC8D;
  color: #FFFFFF;
  border: none;
  height: 3em;
  font-weight: 700;
  font-family: "Archivo";
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.175rem;
  padding: 2em;
  padding-left: 3em;
  padding-right: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-page {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 4rem;
  line-height: 3.75rem;
  letter-spacing: -0.075rem;
  color: #FFFFFF;
}

.title-section {
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1.13rem;
  letter-spacing: 0.18rem;
  color: #777777;
}
.title-section--yellow {
  color: #BDAC8D;
}

.subtitle-section {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: -0.075rem;
  color: #111111;
}
.subtitle-section--white {
  color: #FFFFFF;
}
.subtitle-section--small {
  font-size: 2.5rem;
  line-height: 3.5rem;
}

.title-content {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.875rem;
  letter-spacing: -0.056rem;
  color: #111111;
}
.title-content--white {
  color: #FFFFFF;
}

/*@mixin paragraph2 {
    font-family: $font_tertiary;
}*/
html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Archivo";
}

body {
  min-width: 320px;
}

h2 {
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1.13rem;
  letter-spacing: 0.18rem;
  color: #777777;
}

h3 {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: -0.075rem;
  color: #111111;
}

h4 {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.875rem;
  letter-spacing: -0.056rem;
  color: #111111;
}

p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

/*# sourceMappingURL=styles.css.map */
