

.offers-content__popular {

    background-color: #222222;
    padding-top: 3em;
    margin-bottom: 4em;
    text-align: center;

    &__title {
        margin-bottom: 2em;
    }

    &__subtitle {
        margin-bottom: 1em;
    }
}

.rooms-content__room {

    background-color: #FFFFFF;
    padding-bottom: 2em;
}