
@import './../rooms/mixinRoom';

.offers-content__popular {

    background-color: #222222;
    padding-top: 3em;
    margin-bottom: 4em;
    text-align: center;

    &__title {
        margin-bottom: 2em;
    }

    &__subtitle {
        margin-bottom: 1em;
    }

    &__rooms {
        display: none;

        &__room {
            background-color: #FFFFFF;
            padding-bottom: 2em;
        }   
    }


}

.swiper-slide {

    @include roomStyle();

    &__room {

        background-color: #FFFFFF;
        padding-bottom: 2em;
    }

    

}

@media only screen and (min-width:1450px){


    .offers-content__popular {

        .swiper.slider-type1 {
            display: none;
        }

        &__rooms {
            width: 70%;
            margin: 0 auto;
            display: flex;
            gap: 1em;
            @include roomStyle();

            &__room {
                width: 45%;
            }
        }
    }

    
}
