
@import './../mixinFeatures';


.about-content__facilities {

    text-align: center;
    background-color: #222222;
    padding-top: 2em;
    padding-bottom: 3em;
    margin-bottom: 3em;

    @media only screen and (min-width:1000px){
        padding-bottom: 5em;
    }

    &__title {
        margin-bottom: 2em;
    }

    &__subtitle {
        margin-bottom: 0.5em;
    }

    &__cards {
        
        display: none;
        width: 70%;
        margin: 0 auto;
        @include featuresStyle();

        @media only screen and (min-width:1000px){
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2em;
        }


    }

    .slider-type2 {
        width: 90%;

        @media only screen and (min-width:1000px){
            display: none;
        }

        .swiper-slide {

            @include featuresStyle();
        }
        
    }

}





