
.about-content__restaurant {

    box-shadow: 0 14px 24px rgba($color: #B8B8B8, $alpha: 0.1);
    padding: 1em;
    margin-bottom: 1em;

    &__img {
        width: 100%;
        height: 250px;
        margin-bottom: 2em;
    }

    &__title {
        margin-bottom: 2em;
    }

    &__subtitle {
        font-size: 3rem;
        line-height: 3.125rem;
        margin-bottom: 0.7em;
    }

    &__text {
        width: 85%;
        color: #777777;
        margin-bottom: 1em;
    }
}