
@use './info';
@use './map';
@use './form';

.contact-content {

    width: 90%;
    margin: 0 auto;
    padding-top: 4em;
    margin-bottom: 4em;
}

@media only screen and (min-width:1000px) {

    .contact-content {

        width: 70%;
    }
}