

.contact-content__form {

    &__input-group {
        position: relative;

        &__input {
            margin-bottom: 1.5em;
            padding-left: 4em;
        }

        &__icon{
            position: absolute;
            top: 1.5em;
            left: 1em;
        }

        &__icon path {
            fill: #BEAD8E;
        }

        & textarea {
            height: auto;
            padding-top: 1.8em;
        }
    }

    ::placeholder {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 1rem;
        line-height: 1rem;
    }

    &__button {
        width: 20em;
        margin: 0 auto;
    }
}

@media only screen and (min-width:1000px) {

    .contact-content__form {

        width: 80%;
        margin: 0 auto;
        margin-top: 6em;
        padding-bottom: 4em;
        
        
        & form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1em;
        }

        &__input-group {
            width: 100%;
            margin-left: 1em;
        }

        &__input-group:has(textarea), &__button{
            grid-column: 1 / 3;
        }

    }
}