
@import './../rooms/mixinRoom';


.room-details-content__related-rooms {

    &__title {
        margin-bottom: 1em;
        padding-bottom: 0.3em;
        border-bottom: 1px solid #F1F1F1;
    }

    @include roomStyle(); 

    .rooms-content__room {

        &--full-size {
            width: 100%;
        }

    }

    .swiper.slider-type1 {
        @media only screen and (min-width: 1000px) {
            display: none;
            
        }
    }


}