
@use './hotelImage';
@use './formAvailability';
@use './textInfo';
@use './amenities';
@use './founder';
@use './cancellation';

.room-details-content {

    width: 90%;
    margin: 0 auto;
    padding-top: 2em;
}