

.home-content__booking-calendar {


    background-color: #222222;
    margin-bottom: 2em;

    &__form {
        display: flex;
        flex-direction: column;
        padding-top: 2em;
        padding-left: 1em;
        padding-bottom: 2em;
    }

    &__form label {
        font-family: 'Roboto';
        color: #FFFFFF;
        font-weight: 700;
        font-size: 1rem;
        margin-bottom: 1em;
    }

    &__form input[type='date'] {
        width: 80%;
        appearance: none;
        border: none;
        border-bottom: 1px solid #BEAD8E;
        background-color: #222222;
        margin-bottom: 2em;
        color: #686868;
        font-family: 'Roboto';
        padding-left: 2em;
        padding-bottom: 0.5em;
    }

    &__form input[type='date']::-webkit-calendar-picker-indicator {
        position: absolute;
        left: 1em;
        background-image: url('./../img/calendarIcon.svg');
        background-repeat: no-repeat;
        width: 1rem;
        height: 1rem;
    }
    
    &__form input[type='date']:focus {
        appearance: none;
        outline: none;
    }

    &__form input[type='submit'] {
        width: 70%;
    }
}