
.home-content__data {
    width: 100%;
    background-color: #222222;
    margin: 0 auto;
    text-align: center;
    padding-top: 3em;
    margin-bottom: 2em;

    &__projects, &__backers, &__categories, &__ideas {

        & img {
            margin-bottom: 3em;
        }
        & h3 {
            font-family: 'Roboto';
            color: #FFFFFF;
            font-size: 3.75rem;
            line-height: 1.56rem;
            & span {
                font-size: 1.125rem;
            }
        }
        & p {
            color: #999999;
            padding-bottom: 3em;
        }
    }
}