
@use '../sliders' as sliders;

.home-content__facilities {

    text-align: center;

    &__title {
        margin-bottom: 2em;
    }

    &__subtitle {
        margin-bottom: 0.5em;
    }
}

@include sliders.sliderType1;