

.home-content__menu {

    margin-bottom: 2em;

    &__icon {

        text-align: end;
        width: 100%;

        @media only screen and (min-width: 1000px){
            width: 70%;
        }
        
        &__image-mobile {
        
            width: 20%;
            height: auto;

            @media only screen and (min-width: 1000px) {
                display: none;
            }
    
        }

        &__image-desktop {

            display: none;

            @media only screen and (min-width: 1000px){
                display: block;
                width: 15%;
                height: auto;
                margin-left: 2em;
            }

        }
    }

    

    &__info {

        width: 90%;
        margin: 0 auto;

        @media only screen and (min-width: 1000px){
            width: 70%;
            position: relative;
        }


        &__title {
            margin-bottom: 2em;
        }

        &__subtitle {
            width: 85%;
            margin-bottom: 0.5em;
        }

        &__list {

            @media only screen and (min-width: 1000px){
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 2em;
            }

            &__item {

                display: none;
                margin-bottom: 2em;

                @media only screen and (min-width: 1000px){
                    
                    &:hover &__text,  &:hover &__arrow{
                        background-color: #222222;
                    }

                    &:hover &__arrow {
                        display: flex;
                    }

                    &:hover &__text__paragraph, &:hover &__text__title{
                        color: #FFFFFF;
                    }
                        
                }

                &--active {
                    display: flex;
                }

                &__image {
                    width: 40%;
                    height: auto;

                    @media only screen and (min-width: 1000px){
                        width: 25%;
                    }

                }

                &__text {

                    padding-left: 2em;
                    padding-top: 1em;

                    &__title {
                        margin-bottom: 0.5em;
                    }

                    &__paragraph {
                        width: 85%;
                    }

                }

                &__arrow {
                    display: none;
                    align-items: center;
                    font-size: 1.5rem;
                    color: #BEAD8E;
                    padding-right: 1em;
                }

                
            }
        }

        &__pagination {
    
            @media only screen and (min-width: 1000px){
                position: absolute;
                top: 0;
                right: 0;
            }
    
            &__buttons {
                display: flex;
                justify-content: flex-end;
                gap: 1em;
            }
        }
    }

    
}