
@use './../sliders' as slider;

.home-content__rooms {

    text-align: center;

    &__title {
        margin-bottom: 2em;
    }

    &__subtitle {
        margin-bottom: 1em;
    }

    &__icons {
        background-color: #FFFFFF;
        width: 75%;
        margin: 0 auto;
        padding-bottom: 1.5em;
        padding-top: 1.5em;
        padding-left: 2em;
        position: relative;
        top: 2em;
        z-index: 2;

        & i {
            margin-right: 1.2em; 
        }
    }

    &__room-info {
        margin: 0 auto;
        text-align: center;
        background-color: #FFFFFF;
        width: 80%;
        padding-top: 1.5em;
        position: relative;
        bottom: 2em;
        z-index: 2;

        &__title {
            margin-bottom: 0.5em;
        }        

        & p {
            width: 80%;
            margin: auto;
            margin-bottom: 1em;
        }

        &__price {

            & span {
                font-size: 0.813rem;
            }
        }
    }



}

@include slider.sliderType1

