

.home-content__about-us {

    &__info {

        background-color: #F9F9F9;
        padding-left: 1em;
        padding-bottom: 10em;

        & h1 {
            color: #777777;
            font-size: 13px;
            padding-top: 2em;
            margin-bottom: 2em;
        }
    
        & h2 {
            font-family: 'Old Standard TT';
            font-size: 56px;
            font-weight: 400;
            text-align: center;
            line-height: 60px;
            letter-spacing: -1.2px;
            margin-bottom: 0.5em;
        }
    
        & p {
            color: #777777;
            font-weight: 400;
            font-size: 14px;
            margin-bottom: 2em;
            line-height: 24px;
        }
    
        & button {
    
            background-color: #BDAC8D;
            color: #FFFFFF;
            border: none;
            width: 40%;
            height: 3em;
        }

    }

    &__extra-info {

        width: 80%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 4em;
        box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);

        &__team {

            margin-bottom: 8em;
        
            &__image {
                background-color: #E4E4E4;
                height: 18em;
                position: relative;
                bottom: 6em;
            }
    
            &__icons {
                margin-top: -3em;
                margin-bottom: 2em;
                position: relative;
                width: fit-content;
                left: 50%;
    
                &__icon2 {
                    position: absolute;
                    left: 2em;
                    z-index: -1;
                }
            }
    
            & h1 {
                font-family: 'Old Standard TT';
                font-size: 30px;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: -0.9px;
                color: #111111;
                margin-bottom: 1em;
            }
    
            & p {
                font-family: 'Roboto';
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                color: #111111;
                width: 75%;
                margin: 0 auto;
            }
        }

        &__luxury {

            &__image {
                background-color: #E4E4E4;
                height: 18em;
            }

            &__room {
                padding-top: 3em;
                padding-bottom: 4em;
                background-color: #222222;

                & img {
                    margin-bottom: 2em;
                }

                & h1 {
                    color: #FFFFFF;
                    font-family: 'Old Standard TT';
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 30px;
                    letter-spacing: -0.9px;
                    margin-bottom: 1em;
                }

                & p {
                    font-family: 'Roboto';
                    color: #FFFFFF;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                    width: 75%;
                    margin: 0 auto;
                }
            }
        }

    }

    

    

    

}