

.home-content__video {

    background-color: #222222;
    padding-top: 2em;
    padding-left: 1em;

    & h2 {
        color: #BDAC8D;
        margin-bottom: 2em;
    }

    & h3 {
        width: 80%;
        color: #FFFFFF;
        margin-bottom: 0.5em;
    }

    & p {
        margin-bottom: 2em;
        width: 95%;
        color: #C2C2C2;
    }

    & iframe {
        margin-bottom: 2em;
    }

    & button {
        width: 40%;
        margin-bottom: 3em;
    }
}